*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    overflow-x: hidden;
}

header {
    width: auto;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    box-shadow: 0 16px 8px -9px rgba(0, 0, 0, 0.33);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.logo{
    display: flex;
}

.logo img {
    width: 60px;
    border: 5px solid rgb(44, 42, 42);
    border-radius: 100%;
}

.logo p {
    margin-top: 18px;
    margin-left: 10px;
}

.Burger{
    display: none;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .2s;
    text-transform: capitalize;
}

.nav-bar ul li a::after {
    display: block;
    content: "";
    border-bottom: 2px solid black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-bar ul li a:hover::after{
    transform: scaleX(1);
}

.nav-bar ul li a.acrive{
color: rgb(67, 63, 63);
}

.bagian-home{
    width: 100%;
    height: 800px;

}

article{
    text-align: center;
    padding-top: 150px;
    font-size: 50px;
    margin: 0 50px;
    background: url(https://images.pexels.com/photos/4329937/pexels-photo-4329937.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
}

/* article h1{
   
} */

.btn-to-bottom{
    font-size: 80px;
    text-align: center;
    margin-top: 160px;
    animation: float 6s ease-in-out infinite;
}

.btn-to-bottom a{
    background-color: rgb(0, 0, 0);
    padding: 8px 35px;
    border-radius: 100%;
    transform: rotateY(0px);
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(50px);
    }

    100%{
        transform: translateY(0px);
    }
}

.bagian-about{
    background-color: #ffffff;
    height: 2000px;
}

.atur-bx{
    padding-top: 100px;
}

.box-about{
    width: 95%;
    height: 700px;
    margin: 0 30px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.judul-about{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.judul-about h1{
    margin-right:10px ;
    border-bottom:1px solid ;
}

.isi-bx{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box-about{
    transform: rotateY(0px);
}

.box-about img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    float: left;
    margin-right: 50px;
    margin-left: 100px;
    border: 6px solid wheat;
}

.about {
    color: rgb(0, 0, 0);
    float: right;
    width: 800px;
    font-size: 23px;
    margin-right: 40px;
}

.skill{
    margin: 100px 30px;
    border-radius: 30px;
}

.judul-skill{
    color: rgb(0, 0, 0);
    margin-top: 20px;
    text-align: center;
}


.kumpulan-card{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.card-abot{
    border-radius:20px ;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    animation: naik 4s ease-in-out infinite;
}

@keyframes naik {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(50px);
    }

    100%{
        transform: translateY(0px);
    }
}

.card-abot img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.477));
}


.card-abot p{
    margin-top: 10px;
}

.tools{
    margin: 0 30px;
    text-align: center;
}

.judul-tools{
    color: rgb(0, 0, 0);
}

.kumpulan-tools{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    animation: naik 4s ease-in-out infinite;
}

.card-tools img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.477));
}

.project-akhir{
    margin: 100px 30px;
}

.judul-project{
    text-align: center;
    font-size: 30px;
}

.kumpulan-project2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.card-project{
    width: 600px;
    text-align: center;
    box-shadow: 0 0 10px black;
    margin: 0 30px;
    border-radius: 10px;
}

.card-project img {
    width: 90%;
}

.bagian-contact{
    background-color: rgb(255, 255, 255);
    height: 800px;
}

.kotak-contact{
    padding-top: 100px;
    margin:0 30px ;
}

.bx-contact{
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    height: 400px;
    float: left;
}

.bx-contact h1 {
    text-align: center;
    margin-top: 10px;
}

.card-contact{
    margin: 40px 10px;
}

.card-contact input{
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: black;
    box-shadow: 0 0 10px black;
    color: white;
}

.card-contact input::placeholder{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Poppins";
}

.btn-contact{
    margin-left: 20px;
    margin-top: -20px;
}

.btn-contact button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 10px black;
}

.pinggir-contact{
    float:right ;
    margin-top: 110px;
}

.article{
    width: 800px;

}

.kumpulan-sosmed{
    font-size: 50px ;
    display: flex;
    background-color: white;
    border: 4px solid black;
    width: 400px;
    height: 100px;
    border-radius :30px;
    justify-content: center;
    margin-top: 30px;
}

.icon-sosmed {
   margin: 10px 30px;
}

.icon-sosmed i {
    transition: all 0.3s;
}

.icon-sosmed i:hover{
    font-size: 60px;
    transition: all 0.3s;

}


footer{
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
}

footer h1 {
    padding-top: 20px;
}


